{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

      {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/login.css') }}">
      {% endblock %}
{% block body %}


    {% if error %}

        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>

    {% endif %}


    <form class="form" action="{{ path('login') }}" method="POST">

        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Connexion</h3>
                    <div class="card-text">
                        <!--
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                        <form>
                            <!-- to error: add class "has-danger" -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" name="_username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mot de passe</label>
                                <a href="{{ path('app_forgot_password_request') }}" style="float:right;font-size:12px;color: #1b2838 !important;">Mot de passe oublié?</a>
                                <input type="password" name="_password" class="form-control form-control-sm" id="exampleInputPassword1">
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <input style="opacity: 1;" class="form-check" type="checkbox" id="remember_me" name="_remember_me" checked/>
                                <label style="margin: 0 0 0 2rem;" for="remember_me">Rester connecté</label>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <input style="opacity: 1;" class="form-check" type="checkbox" id="cgu" name="cgu"/>
                                <label style="margin: 0 0 0 2rem;" for="cgu"><a href="">Conditions générales d'utilisations</a></label>
                            </div>
                            <button type="submit" style="background-color: #1b2838 !important;" class="btn btn-primary btn-block">Connexion</button>

                            <div class="sign-up">
                                Vous n'avez pas de compte? <a style="color: #1b2838 !important;" href="{{ path('register') }}">Inscription</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>



    </form>

{% endblock %}