{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% if app.user.id is same as (video.user.id) %}
        <a class="btn btn-indigo" href="{{ path('videos_index') }}">Retour</a>

   <div class="container my-5 px-0 text-center">

    {{ include('videos/_form.html.twig', {'button_label': 'Éditer'}) }}

    {{ include('videos/_delete_form.html.twig') }}
</div>
    {% else %}

        <script>window.location.href = "{{path('news_feed')}}" </script>

    {% endif %}

{% endblock %}