{% if app.request.attributes.get('_route') == 'get_favoris_user' %}
    {% if new.ressource.article is not null %}


            <div class="card w-75  my-5">
                <div class="card-header">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar a" style="width: 10%" alt="user profile image">
                    <p class="a ml-2"><a href="#">{{ new.ressource.article.user.firstName }} {{ new.ressource.article.user.lastName }} </a></p>
                    <div class="favoris a">
                        {% set flag, favId = 0, 0 %}


                        {% if favoList is empty %}

                            {% set flag = 0 %}

                        {% else %}

                            {% for fav in favoList %}

                                {% if (fav.ressource.id) == (new.ressource.id) %}

                                    {% set favId = fav.id %}
                                    {% set flag = 1 %}

                                {% elseif (fav.ressource.id) == (new.ressource.id) and flag != 1 %}

                                    {% set flag = 0 %}

                                {% endif %}


                            {% endfor %}


                        {% endif %}



                        {% if flag == 0 %}
                            <a href="{{ path('add_favoris', {'id': new.ressource.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
                        {% else %}
                            <a href="{{ path('remove_favoris', {'id': favId}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
                        {% endif %}

                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ new.ressource.article.titre }}</h5>
                    <h6 class="card-subtitle">{{ new.ressource.article.description }}</h6>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-5">
                                {% if new.ressource.article.photo is not null %}
                                    <img src="{{ asset('/uploads/'~new.ressource.article.photo) }}" class="image img-fluid" alt="ancienne image" >
                                {% endif %}
                            </div>
                            <div class="col-7">
                                {% if new.ressource.article.video is not null %}
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video class="embed-responsive-item" controls><source src="{{ asset('/uploads/'~new.ressource.article.video) }}" type="video/mp4"></video>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">


                        <input id="comments-{{ new.ressource.id }}" class="form-control comments_contenu w-75 all-comments" type="text" placeholder="Saisissez votre commentaire">


                    <div class="post-footer">

                        <ul id="comments-box-{{ new.ressource.id }}" class="comments-list">

                        </ul>
                    </div>
                </div>
            </div>






        {% endif %}
{% else %}





    {% if new.article is not null %}
        <div class="card w-75  my-5">
            <div class="card-header">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar a" style="width: 10%" alt="user profile image">
                <p class="a ml-2"><a href="#">{{ new.article.user.firstName }} {{ new.article.user.lastName }} </a></p>
                <div class="favoris a">
                    {% set flag, favId = 0, 0 %}


                    {% if favoList is empty %}

                        {% set flag = 0 %}

                    {% else %}

                        {% for fav in favoList %}

                            {% if (fav.ressource.id) == (new.id) %}

                                {% set favId = fav.id %}
                                {% set flag = 1 %}

                            {% elseif (fav.ressource.id) == (new.id) and flag != 1 %}

                                {% set flag = 0 %}

                            {% endif %}


                        {% endfor %}


                    {% endif %}



                    {% if flag == 0 %}
                        <a href="{{ path('add_favoris', {'id': new.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
                    {% else %}
                        <a href="{{ path('remove_favoris', {'id': favId}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
                    {% endif %}

                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ new.article.titre }}</h5>
                <h6 class="card-subtitle">{{ new.article.description }}</h6>
                <div class="card-text">
                    <div class="row">
                        <div class="col-5">
                            {% if new.article.photo is not null %}
                                <img src="{{ asset('/uploads/'~new.article.photo) }}" class="image img-fluid" alt="ancienne image" >
                            {% endif %}
                        </div>
                        <div class="col-7">
                            {% if new.article.video is not null %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video class="embed-responsive-item" controls><source src="{{ asset('/uploads/'~new.article.video) }}" type="video/mp4"></video>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">

                    <input id="comments-{{ new.id }}" class="form-control comments_contenu w-75 all-comments" name="comments" type="text" placeholder="Saisissez votre commentaire">



                <div class="post-footer">

                    <ul id="comments-box-{{ new.id }}" class="comments-list">

                    </ul>
                </div>
            </div>
        </div>



    {% endif %}

{% endif %}





