{% if app.request.attributes.get('_route') == 'get_favoris_user' %}
    {% if new.ressource.article is not null %}
<div class="col-sm-12 col-md-6 mb-2">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45"  src="{{ asset('/images/vichFiles/'~new.ressource.article.user.avatar.avatarIcon) }}" alt="">
                </div>
                <div class="ml-2">
                    <div style="color: white;" class="h5 m-0">{{ new.ressource.article.user.firstName }} {{ new.ressource.article.user.lastName }}</div>
                    <div id="Created" class="text-muted h7"> <i class="far fa-clock mr-1"></i> {{ new.ressource.createdAt|format_datetime('short', 'short', locale='fr') }}</div>
                </div>
            </div>
            <div>
                {% set flag, favId = 0, 0 %}


                {% if favoList is empty %}

                    {% set flag = 0 %}

                {% else %}

                    {% for fav in favoList %}

                        {% if (fav.ressource.id) == (new.ressource.id) %}

                            {% set favId = fav.id %}
                            {% set flag = 1 %}

                        {% elseif (fav.ressource.id) == (new.ressource.id) and flag != 1 %}

                            {% set flag = 0 %}

                        {% endif %}


                    {% endfor %}


                {% endif %}



                {% if flag == 0 %}
                    <a href="{{ path('add_favoris', {'id': new.ressource.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
                {% else %}
                    <a href="{{ path('remove_favoris', {'id': favId}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body d-flex flex-column justify-content-between">
        <div class="title-description">
            <a class="card-link" href="{{ path('articles_show', {'id': new.ressource.article.id}) }}">
                <h5 style="color: #007bff !important;" class="card-title">{{ new.ressource.article.titre }}</h5>
            </a>
            <p class="card-text">
                {{ new.ressource.article.description }}
            </p>
        </div>


            {% if new.ressource.article.photo and new.ressource.article.video is null %}
        <div class="img-video">
            <img src="{{ asset('/images/vichFiles/'~new.ressource.article.photo) }}" class="card-img img-fluid" alt="test">
        </div>
            {% elseif (new.ressource.article.photo is null and new.ressource.article.video) %}
        <div class="img-video">
            <video class="card-img img-fluid" width="500" height="360" controls>
                <source src="{{ asset('/images/vichFiles/'~new.ressource.article.video) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
            {% elseif (new.ressource.article.photo is null and new.ressource.article.video is null) %}

            {% else %}
        <div class="img-video">
            <img src="{{ asset('/images/vichFiles/'~new.ressource.article.photo) }}" class="card-img img-fluid" alt="test">
            <video class="card-img img-fluid" width="500" height="360" controls>
                <source src="{{ asset('/images/vichFiles/'~new.ressource.article.video) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
            {% endif %}



        <div class="category">
            {% for category in new.ressource.category %}
                <span style="background-color: #1B2838 !important;" class="badge badge-primary mr-2">{{ category.name }}</span>
            {% endfor %}
        </div>

    </div>
    <div class="card-footer">

        <button id="button-comments-{{ new.ressource.id }}" class="btn btn-primary comments-link"><i class="far fa-comment"></i> Comment</button>

        <div id="block-comments-{{ new.ressource.id }}" style="display: none; color:#FFF;">
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control block-comments-fav" id="textarea-comments-{{ new.ressource.id }}" placeholder="Tapez votre commentaire..."/>
            </div>
            <div class="commentaires">
                <div class="commentaire" id="list-comments-{{ new.ressource.id }}">

                </div>
            </div>
        </div>
    </div>
</div>

        {% endif %}
{% endif %}





