{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/news_feed.css') }}">
{% endblock %}
{% block title %}Fil d'actualité{% endblock %}

{% block body %}


                {% for new in news %}

                {% if new.photo is not null%}
        <div class="col-sm-12 mt-3 mb-3 col-sm-offset-2 bg-white">

            <div class="row">

                <div class="col-sm-12">
                    <div class="panel panel-white post">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{ new.photo.user.firstName }} {{ new.photo.user.lastName }}</b></a>
                                </div>
                                <h6 class="text-muted time">

                                    {% if new.updatedAt is not null %}
                                        {{ new.updatedAt|date('Y-m-d H:i:s')  }}
                                    {% else %}
                                        {{ new.createdAt|date('Y-m-d H:i:s')  }}
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                        <div class="post-image">
                                <img src="{{ asset('/uploads/'~new.photo.image) }}" class="image" alt="ancienne image" width="400" height="200">
                        </div>
                        <div class="post-description">
                            <h4>{{ new.photo.titre }}</h4>
                            <p>{{ new.photo.description }}</p>
                          {#  <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>#}
                        </div>
                       {# <div class="post-footer">
                            <div class="input-group">
                                <input class="form-control" placeholder="Add a comment" type="text">
                                <span class="input-group-addon">
                                <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                            </span>
                            </div>
                            <ul class="comments-list">
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">John dOE</h4>
                                            <h5 class="time">7 minutes ago</h5>
                                        </div>
                                        <p>I really love this picture. I really wish i could have been there.</p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">John Doe</h4>
                                            <h5 class="time">3 minutes ago</h5>
                                        </div>
                                        <p>I think I might you this for one of my projects.</p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">John Doe</h4>
                                            <h5 class="time">10 seconds ago</h5>
                                        </div>
                                        <p>Wow! This is gorgeous.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>#}
                    </div>
                </div>
                    </div>

                    </div>

                {% endif %}

                {% if new.video is not null%}
                        <div class="col-sm-12 mt-3 mb-3 col-sm-offset-2 bg-white">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="panel panel-white post">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>{{ new.video.user.firstName }} {{ new.video.user.lastName }}</b></a>
                                                </div>
                                                <h6 class="text-muted time">

                                                    {% if new.updatedAt is not null %}
                                                        {{ new.updatedAt|date('Y-m-d H:i:s')  }}
                                                    {% else %}
                                                        {{ new.createdAt|date('Y-m-d H:i:s')  }}
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="post-image">
                                            <video  width="400" height="200" class="fluid-width-video-wrapper" controls><source src="{{ asset('/uploads/'~new.video.video) }}" type="video/mp4"></video>
                                        </div>
                                        <div class="post-description">
                                            <h4>{{ new.video.titre }}</h4>
                                            <p>{{ new.video.description }}</p>
                                            {#  <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>#}
                                        </div>

                                        <form method="POST" action="{{ path('add_comment', {'id': new.id}) }}">
                                            <input class="form-control comments_contenu" name="comments" type="text" placeholder="Saisissez votre commentaire">
                                        </form>


                                         <div class="post-footer">
                            <ul class="comments-list">

                                {% for comments in new.comments %}
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">{{ comments.user.firstName }} {{ comments.user.lastName }}</h4>
                                            <h5 class="time">
                                                {% if comments.updatedAt is not null %}
                                                    {{ comments.updatedAt|date('Y-m-d H:i:s')  }}
                                                {% else %}
                                                    {{ comments.createdAt|date('Y-m-d H:i:s')  }}
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <p>{{ comments.contenu }}</p>
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    {% endif %}

                {% if new.article is not null %}

<div class="col-sm-12 mt-3 mb-3 col-sm-offset-2 bg-white">

    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-white post">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ new.article.user.firstName }} {{ new.article.user.lastName }}</b></a>
                        </div>
                        <h6 class="text-muted time">
                            {% if new.updatedAt is not null %}
                                {{ new.updatedAt|date('Y-m-d H:i:s')  }}
                            {% else %}
                                {{ new.createdAt|date('Y-m-d H:i:s')  }}
                            {% endif %}
                        </h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{new.article.description}}</p>








                 {#   <div class="stats">
                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                            <i class="fa fa-share icon"></i>12
                        </a>
                    </div>#}
                </div>
                <div class="row">
                <div class="col-6">
                    {% if new.article.photo is not null %}
                        <img src="{{ asset('/uploads/'~new.article.photo) }}" class="image" alt="ancienne image" width="400" height="200">
                    {% endif %}
                </div>
<div class="col-6">
                    {% if new.article.video is not null %}
                        <video controls width="400" height="200"><source src="{{ asset('/uploads/'~new.article.video) }}" type="video/mp4"></video>
                    {% endif %}
</div>
                </div>

                {#<div class="post-footer">
                    <div class="input-group">
                        <input class="form-control" placeholder="Add a comment" type="text">
                        <span class="input-group-addon">
                                <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                            </span>
                    </div>
                    <ul class="comments-list">
                        <li class="comment">
                            <a class="pull-left" href="javascript:void(0);">
                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">Gavino Free</h4>
                                    <h5 class="time">5 minutes ago</h5>
                                </div>
                                <p>Sure, I'd help out.</p>
                            </div>
                            <ul class="comments-list">
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">John Doe</h4>
                                            <h5 class="time">3 minutes ago</h5>
                                        </div>
                                        <p>I will email you the details.</p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">John Doe</h4>
                                            <h5 class="time">3 minutes ago</h5>
                                        </div>
                                        <p>Ok, cool.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>#}
            </div>
        </div>


    </div>
</div>
                {% endif %}


                {% if new.evenement is not null %}
<div class="col-sm-12 mt-3 mb-3 col-sm-offset-2 bg-white">

    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-white post">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ new.evenement.user.firstName }} {{ new.evenement.user.lastName }}</b></a>
                        </div>
                        <h6 class="text-muted time">
                            {% if new.updatedAt is not null %}
                                {{ new.updatedAt|date('Y-m-d H:i:s')  }}
                            {% else %}
                                {{ new.createdAt|date('Y-m-d H:i:s')  }}
                            {% endif %}
                        </h6>
                    </div>
                </div>

        <div class="post-description">

            <h4>{{ new.evenement.titre }}</h4>

            <p>{{ new.evenement.description }}</p>

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Date de début
                    </td>
                    <td>
                        Heure de début
                    </td>
                    <td>
                        Date de fin
                    </td>
                    <td>
                        Heure de fin
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ new.evenement.dateDebut ? new.evenement.dateDebut|date('Y-m-d') : '' }}</td>
                    <td>{{ new.evenement.heureDebut ? new.evenement.heureDebut|date('H:i:s') : '' }}</td>
                    <td>{{ new.evenement.dateFin ? new.evenement.dateFin|date('Y-m-d') : '' }}</td>
                    <td>{{ new.evenement.heureFin ? new.evenement.heureFin|date('H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
</div>
                {% endif %}


                {% if new.information is not null %}
                    <div class="col-sm-12 mt-3 mb-3 col-sm-offset-2 bg-white">

    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-white post">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ new.information.user.firstName }} {{ new.information.user.lastName }}</b></a>
                        </div>
                        <h6 class="text-muted time">
                            {% if new.updatedAt is not null %}
                                {{ new.updatedAt|date('Y-m-d H:i:s')  }}
                            {% else %}
                                {{ new.createdAt|date('Y-m-d H:i:s')  }}
                            {% endif %}
                        </h6>
                    </div>
                </div>

        <div class="post-description">

            <h4>{{ new.information.titre }}</h4>
            <h6>
                {% for category in new.information.category %}
                    {{ category.name }}
                {% endfor %}
            </h6>
            <p>{{ new.information.description }}</p>
            <div>
            <p>{{ new.information.contenu }}</p>
            </div>
            <div>
            <p> </p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
                {% endif %}


                {% endfor %}





{% endblock %}
{% block javascripts %}
    <script>
        let form = document.querySelector('form');
        let textContent = document.querySelector('.comments_contenu');
        textContent.addEventListener('keypress', function(e){
            if(e.key === 'Enter')
            {
                form.submit();
            }
        })
    </script>
{% endblock %}
