                {% if new.video is not null %}

<div class="card w-75  my-5">
  <div class="card-header">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar a" style="width: 10%" alt="user profile image">
    <p class="a ml-2"><a href="#">{{ new.video.user.firstName }} {{ new.video.user.lastName }}, {{ new.video.user.job}} </a></p>
        <div class="favoris a">
                             {% if new.favoris != [] %}
                       <a href="{{ path('add_favoris', {'id': new.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
                       
                     {% endif %}
                    {% for favoris in new.favoris %}
                            {% if favoris.user == userCo %}
                        <a href="{{ path('remove_favoris', {'id': favoris.id}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
                            {% endif %}
                        {% endfor %}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ new.video.titre }}</h5>
         <p>{{ new.video.description }}</p>
    <div class="card-text text-center">
            <div class="embed-responsive embed-responsive-16by9">
                 <video class="embed-responsive-item" controls><source src="{{ asset('/uploads/'~new.video.video) }}" type="video/mp4"></video>
            </div>
            <div class="post-description">
           
                                            {#  <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>#}
            </div>    
    </div>

  </div>
  <div class="card-footer">
    <form method="POST" action="{{ path('add_comment', {'id': new.id}) }}">
                    <input class="form-control comments_contenu w-75" name="comments" type="text" placeholder="Saisissez votre commentaire">
                </form>


                <div class="post-footer">

                    <ul class="comments-list">


                        {% for comments in new.comments %}
                            <li class="comment mt-2">
                                <a class="pull-left" href="javascript:void(0);">
                                    <img class="avatar rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" style="width: 5%"alt="avatar">
                                </a>
                                <h5 class="user a">{{ comments.user.firstName }} {{ comments.user.lastName }} a commenté</h5><a href="#"><i class="fas fa-reply ml-2"></i></a>
                                        {# <p class="time">
                                            {% if comments.updatedAt is not null %}
                                                {{ comments.updatedAt|date('Y-m-d H:i:s')  }}
                                            {% else %}
                                                {{ comments.createdAt|date('Y-m-d H:i:s')  }}
                                            {% endif %}
                                        </p> #}
                                <div class="comment-body">
                                    <div>
                                    <p>{{ comments.contenu }}</p>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
  </div>
</div>
{% endif %}