{% if app.request.attributes.get('_route') == 'get_favoris_user' %}
    {% if new.ressource.video is not null %}

        <div class="card w-75  my-5">
            <div class="card-header">
                <img src="{{ asset('/images/vichFiles/'~new.ressource.photo.user.avatar.avatarIcon) }}" class="rounded-circle avatar a" style="width: 10%" alt="user profile image">
                <p class="a ml-2"><a href="#">{{ new.ressource.video.user.firstName }} {{ new.ressource.video.user.lastName }} </a></p>
                <div class="favoris a">


                    {% set flag, favId = 0, 0 %}


                    {% if favoList is empty %}

                        {% set flag = 0 %}

                    {% else %}

                        {% for fav in favoList %}

                            {% if (fav.ressource.id) == (new.ressource.id) %}

                                {% set favId = fav.id %}
                                {% set flag = 1 %}

                            {% elseif (fav.ressource.id) == (new.ressource.id) and flag != 1 %}

                                {% set flag = 0 %}

                            {% endif %}


                        {% endfor %}


                    {% endif %}



                    {% if flag == 0 %}
                        <a href="{{ path('add_favoris', {'id': new.ressource.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
                    {% else %}
                        <a href="{{ path('remove_favoris', {'id': favId}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
                    {% endif %}


                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ new.ressource.video.titre }}</h5>
                <p>{{ new.ressource.video.description }}</p>
                <div class="card-text text-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" controls><source src="{{ asset('/images/vichFiles/'~new.ressource.video.mediaFile) }}" type="video/mp4"></video>
                    </div>
                    <div class="post-description">

                        {#  <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>#}
                    </div>
                </div>

            </div>
            <div class="card-footer">
                    <input id="comments-{{ new.ressource.id }}" class="form-control comments_contenu w-75 all-comments" name="comments" type="text" placeholder="Saisissez votre commentaire">


                <div class="post-footer">

                    <ul id="comments-box-{{ new.ressource.id }}" class="comments-list">

                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}

{% if new.video is not null %}

<div class="card w-75  my-5">
  <div class="card-header">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar a" style="width: 10%" alt="user profile image">
    <p class="a ml-2"><a href="#">{{ new.video.user.firstName }} {{ new.video.user.lastName }} </a></p>
        <div class="favoris a">



            {% set flag, favId = 0, 0 %}


            {% if favoList is empty %}

            {% set flag = 0 %}

            {% else %}

                {% for fav in favoList %}

                    {% if (fav.ressource.id) == (new.id) %}

                        {% set favId = fav.id %}
                        {% set flag = 1 %}

                    {% elseif (fav.ressource.id) == (new.id) and flag != 1 %}

                        {% set flag = 0 %}

                    {% endif %}


                {% endfor %}


            {% endif %}



            {% if flag == 0 %}
                <a href="{{ path('add_favoris', {'id': new.id}) }}"><i class="far fa-star fa-lg ml-5"></i></a>
            {% else %}
                 <a href="{{ path('remove_favoris', {'id': favId}) }}"><i class="fas fa-star fa-lg ml-5"></i></a>
            {% endif %}


    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ new.video.titre }}</h5>
         <p>{{ new.video.description }}</p>
    <div class="card-text text-center">
            <div class="embed-responsive embed-responsive-16by9">
                 <video class="embed-responsive-item" controls><source src="{{ asset('/images/vichFiles/'~new.video.mediaFile) }}" type="video/mp4"></video>
            </div>
            <div class="post-description">
           
                                            {#  <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>#}
            </div>    
    </div>

  </div>
  <div class="card-footer">
                    <input id="comments-{{ new.id }}" class="form-control comments_contenu w-75 all-comments" name="comments" type="text" placeholder="Saisissez votre commentaire">


                <div class="post-footer">

                    <ul id="comments-box-{{ new.id }}" class="comments-list">

                    </ul>
                </div>
  </div>
</div>
{% endif %}
{% endif %}