{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}


 
    <!--Section: Content-->
    <section class="px-md-5 my-5 mx-md-5 dark-grey-text text-lg-left">

      <!--Grid row-->
      <div class="row">

<!--Grid column-->
      <div class="col-md-4 mb-4">
        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong>{{ category.name }}</strong></h4>
            <hr>
            <!--Text-->
            <p class="card-text mb-3"> {{ category.description }}
            </p>
          <a class="btn btn-indigo" href="{{ path('category_index') }}">Retour</a><br/>
          <a class="btn btn-deep-orange" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
          {{ include('category/_delete_form.html.twig') }}
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
{% endblock %}
