{% extends 'base.html.twig' %}

{% block title %}Editer Articles{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

    {% if app.user.id is same as (article.user.id) %}


    <a class="btn btn-primary" href="{{ path('articles_index') }}">Retour</a>
<div class="global-container">
<div>
        <div>
                <h6>Ancienne image</h6>
            <img src="{{ asset('/images/vichFiles/'~article.photo) }}" alt="ancienne image" width="400">
        </div>
        <div class="mt-2">
         <h6>Ancienne vidéo</h6>
            <video controls width="400" class="embed-responsive embed-responsive-16by9"><source src="{{ asset('/images/vichFiles/'~article.video) }}" type="video/mp4"></video>
        </div>


    </div>
    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
</div>

    {{ include('articles/_delete_form.html.twig') }}
    {% else %}

        <script>window.location.href = "{{path('news_feed')}}" </script>

    {% endif %}

    <script>
        let btnDelete = document.querySelector('#btn-delete-form');

        if(document.body.clientWidth < 769){
            btnDelete.classList.add('w-100');
        }
        else{
            btnDelete.classList.remove('w-100');
        }


        window.addEventListener('resize', function(){

            if(document.body.clientWidth < 769){
                btnDelete.classList.add('w-100');
            }
            else{
                btnDelete.classList.remove('w-100');
            }
        })

    </script>
{% endblock %}
