{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}
<style>
    .wrapper{
        max-width: 100%;
        max-height: 50px;
        margin: auto;
        width: 100%;
        padding-right: 10px;
        z-index: 2;
    }
    .wrapper .search-input{
        background: #fff;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 3px #1B2838;
    }
    .search-input input{
        height: 50px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 0px 60px 0px 20px;
        font-size: 18px;
    }
    .search-input .autocom-box{
        overflow-y: auto;
    }
    .autocom-box li {
        list-style: none;
        padding: 8px 12px;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        color: #1B2838;
    }
    .autocom-box li:hover{
        background: #efefef;
    }
</style>
<nav class="navbar navbar-expand-lg">
    <a href="{{ path('news_feed') }}" class="navbar-brand"><i class="fa fa-cube"></i>Ressources<b>Relationelles</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        {% if app.user %}
{#        <form class="navbar-form">#}
{#            <div class="input-group search-box">#}
{#                <input type="text" id="search" class="form-control" placeholder="Rechercher..." >#}
{#            </div>#}

            <div class="wrapper">
                <div class="search-input">
                    <input type="text" id="search"  placeholder="Rechercher...">
                    <div class="autocom-box">

                    </div>
                </div>
            </div>

        {% endif %}
        <div class="navbar-nav ml-auto">
            {% if app.user %}
                <a href="{{ path('news_feed') }}" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Accueil</span></a>
                <a href="{{ path('photos_index') }}" class="nav-item nav-link active"><i class="fas fa-camera"></i><span>Photos</span></a>
                <a href="{{ path('videos_index') }}" class="nav-item nav-link active"><i class="fas fa-video"></i><span>Vidéos</span></a>
                <a href="{{ path('articles_index') }}" class="nav-item nav-link active"><i class="fa fa-file"></i><span>Articles</span></a>
                <a href="{{ path('informations_index') }}" class="nav-item nav-link active"><i class="fa fa-info-circle"></i><span>Informations</span></a>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
                <a href="{{ path('category_index') }}" class="nav-item nav-link active"><i class="fa fa-briefcase"></i><span>Catégories</span></a>
                {% endif %}
                <a href="{{ path('evenements_index') }}" class="nav-item nav-link active"><i class="fa fa-calendar"></i><span>Evenements</span></a>
            {% else %}
                <a href="{{ path('login') }}" class="nav-item nav-link active"><i class="fa fa-lock"></i><span>Connexion</span></a>
                <a href="{{ path('register') }}" class="nav-item nav-link active"><i class="fa fa-user-plus"></i><span>Inscription</span></a>
            {% endif %}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-users"></i><span>Team</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Careers</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a>#}
            {% if app.user %}
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="{{asset("uploads/avatars/"~app.user.avatar.avatarIcon)}}" class="avatar" alt="Avatar"> {{ app.user.firstName }} {{ app.user.lastName }} <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_MODERATEUR') %}
                            <a href="{{ path('admin') }}" class="dropdown-item"><i class="fas fa-user-cog" style="color: #777;"></i> Admin</a>
                            <div class="divider dropdown-divider"></div>
                        {% endif %}
                        {% if app.user %}
                        <a href="{{ path('profile') }}" class="dropdown-item"><i class="fas fa-user"></i> Profil</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('get_favoris_user') }}" class="dropdown-item"><i class="fas fa-star" style="color: #777;"></i> Favoris</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('messenger') }}" class="dropdown-item"><i class="fas fa-comments" style="color: #777;"></i> Messenger</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('support') }}" class="dropdown-item"><i class="fas fa-question" style="color: #777;"></i> Support</a>
                        {% endif %}
                        <div class="divider dropdown-divider"></div>
                        {% if app.user %}
                        <a href="{{ path('logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<script> 
let searchBarContent = document.querySelector('#search');

function searchContent(){
    // get search bar content

    let content = searchBarContent.value;
    // console.log(content);

    // create XmlHttpRequest

    let requestParam = {
        "searchContent" : content
    }


    let boxResults = document.querySelector('.autocom-box');


    if(content != ""){


        let xhr = new XMLHttpRequest();

        xhr.open('POST', '{{ path('ajax_search') }}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function(){
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                boxResults.innerHTML = "";
                console.log(xhr.response)
                let data = xhr.response;

                for (let i = 0; i < data.length; i++) {
                    let ressource;
                    if(content == ""){
                        boxResults.innerHTML = "";
                    }

                    console.log(window.location)
                    if(data[i].article !== null){
                        let url = window.location.origin+"/articles/"+data[i].article;
                        ressource = document.createElement("li");
                        ressource.innerHTML = `<a class="d-flex justify-content-between align-items-center" href="${url}"><span class="text-dark">${data[i].title}</span><i class="text-dark fa fa-file"></i></a>`;

                    }
                    else if(data[i].evenement !== null){
                        let url = window.location.origin+"/evenements/"+data[i].evenement;
                        ressource = document.createElement("li");
                        ressource.innerHTML = `<a class="d-flex justify-content-between align-items-center" href="${url}"><span class="text-dark">${data[i].title}</span><i class="text-dark fa fa-calendar"></i></a>`;
                    }
                    else if(data[i].information !== null){
                        let url = window.location.origin+"/informations/"+data[i].information;

                        ressource = document.createElement("li");
                        ressource.innerHTML = `<a class="d-flex justify-content-between align-items-center" href="${url}"><span class="text-dark">${data[i].title}</span><i class="text-dark fa fa-info-circle"></i></a>`;
                    }
                    else if(data[i].photo !== null){
                        let url = window.location.origin+"/photos/"+data[i].photo;

                        ressource = document.createElement("li");
                        ressource.innerHTML = `<a class="d-flex justify-content-between align-items-center" href="${url}"><span class="text-dark">${data[i].title}</span><i class="text-dark fas fa-camera"></i></a>`;
                    }
                    else if(data[i].video !== null){
                        let url = window.location.origin+"/videos/"+data[i].video;


                        ressource = document.createElement("li");
                        ressource.innerHTML = `<a class="d-flex justify-content-between align-items-center" href="${url}"><span class="text-dark">${data[i].title}</span><i class="text-dark fas fa-video"></i></a>`;
                    }



                    boxResults.appendChild(ressource);
                }

            }
        }
        xhr.responseType = "json";
        xhr.send(JSON.stringify(requestParam));
    }
    else{
        boxResults.innerHTML = "";
    }

    document.addEventListener('click', function(){
        boxResults.innerHTML = "";
    })

}
searchBarContent.addEventListener('keyup', searchContent) || searchBarContent.addEventListener('click', searchContent)
    



</script>