{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}
<nav class="navbar navbar-expand-lg">
    <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Ressources<b>Relationelles</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        {% if app.user %}
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Rechercher...">
                <span class="input-group-addon"><i class="fas fa-search"></i></span>
              
        
        <div class="dropdown position-absolute" style="top:7.85vh;width:100%;background-color: white;">
            <p class="dropdown-item m-0 p-2 ">nimporte quoi</p>
            <p class="dropdown-item m-0 p-2">nimporte quoi</p>
        </div>
        </div>

        </form>

        {% endif %}
        <div class="navbar-nav ml-auto">
            {% if app.user %}
                <a href="{{ path('news_feed') }}" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Accueil</span></a>
                <a href="{{ path('photos_index') }}" class="nav-item nav-link active"><i class="fas fa-camera"></i><span>Photos</span></a>
                <a href="{{ path('videos_index') }}" class="nav-item nav-link active"><i class="fas fa-video"></i><span>Vidéos</span></a>
                <a href="{{ path('articles_index') }}" class="nav-item nav-link active"><i class="fa fa-file"></i><span>Articles</span></a>
                <a href="{{ path('informations_index') }}" class="nav-item nav-link active"><i class="fa fa-info-circle"></i><span>Informations</span></a>
                <a href="{{ path('category_index') }}" class="nav-item nav-link active"><i class="fa fa-briefcase"></i><span>Catégories</span></a>
                <a href="{{ path('evenements_index') }}" class="nav-item nav-link active"><i class="fa fa-calendar"></i><span>Evenements</span></a>
            {% else %}
                <a href="{{ path('login') }}" class="nav-item nav-link active"><i class="fa fa-lock"></i><span>Connexion</span></a>
                <a href="{{ path('register') }}" class="nav-item nav-link active"><i class="fa fa-user-plus"></i><span>Inscription</span></a>
            {% endif %}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-users"></i><span>Team</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Careers</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>#}
            {#                <a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a>#}
            {% if app.user %}
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="https://picsum.photos/200/300" class="avatar" alt="Avatar"> {{ app.user.firstName }} {{ app.user.lastName }} <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a href="{{ path('profile') }}" class="dropdown-item"><i class="fas fa-user"></i> Profil</a>
                        {#                        <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>#}
                        {#                        <a href="#" class="dropdown-item">  <div class="divider dropdown-divider"></div><i class="fa fa-sliders"></i> Settings</a>#}
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('get_favoris_user') }}" class="dropdown-item"><i class="fas fa-star" style="color: #777;"></i> Favoris</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('messenger') }}" class="dropdown-item"><i class="fas fa-comments" style="color: #777;"></i> Messenger</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{{ path('logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<script> 
let searchBarContent = document.querySelector('#search');
searchBarContent.addEventListener('keyup', function(e){
    
    // get search bar content

    let content = searchBarContent.value;
   // console.log(content);

   // create XmlHttpRequest

   let requestParam = {
    "searchContent" : content
   }
   let xhr = new XMLHttpRequest();

   xhr.open('POST', '{{ path('ajax_search') }}', true);
   xhr.setRequestHeader('Content-Type', 'application/json');

   xhr.onreadystatechange = function(){
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        console.log(xhr.response)

        document.getElementById("livesearch").innerHTML = "javascript";
        document.getElementById("livesearch").style.border = "1px solid #A5ACB2";

   }
}
    xhr.responseType = "json";
    xhr.send(JSON.stringify(requestParam));


});

</script>