{% extends 'base.html.twig' %}

{% block title %}Avatars index{% endblock %}

{% block body %}
    <h1>Avatars index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AvatarIcon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avatar in avatars %}
            <tr>
                <td>{{ avatar.id }}</td>
                <td><img src="{{ asset('/uploads/'~avatar.avatarIcon) }}" class="card-img-top" alt="{{avatar.avatarIcon}}" width="350px" height="200px">
  </td>
                <td>
                    <a href="{{ path('avatars_show', {'id': avatar.id}) }}">show</a>
                    <a href="{{ path('avatars_edit', {'id': avatar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avatars_new') }}">Create new</a>
{% endblock %}
