{% extends 'base.html.twig' %}

{% block title %}Informations index{% endblock %}

{% block body %}
    <h1>Informations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Publié</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in informations %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.date ? information.date|date('Y-m-d') : '' }}</td>
                <td>{{ information.heure ? information.heure|date('H:i:s') : '' }}</td>
                <td>{{ information.published ? 'Yes' : 'No' }}</td>

                <td>{{ information.titre }}</td>
                <td>{{ information.description }}</td>
                <td>{{ information.contenu }}</td>
                <td>
                    <a href="{{ path('informations_show', {'slug': information.slug}) }}">show</a>
                    <a href="{{ path('informations_edit', {'id': information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('informations_new') }}">Create new</a>
{% endblock %}
