{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}

  {% if app.user.id is same as (information.user.id) or information.published == true %}

  <input id="ressource-id" type="hidden" value="{{ ressourceId }}">

    <div class="col-sm-12 col-md-6 mb-2">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <img class="rounded-circle" width="45" src="{{ asset('/images/vichFiles/'~information.user.avatar.avatarIcon) }}" alt="">
              </div>
              <div class="ml-2">
                <div style="color: white;" class="h5 m-0">{{ information.user.firstName }} {{ information.user.lastName }}</div>
                <div id="Created" class="text-muted h7"> <i class="far fa-clock mr-1"></i> {{ information.createdAt|format_datetime('short', 'short', locale='fr') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="title">
            <a class="card-link" href="#">
              <h5 style="color: #007bff !important;" class="card-title">{{ information.titre }}</h5>
            </a>
          </div>
          <div class="description">
            <p class="card-text">
              {{ information.description }}
            </p>
          </div>
          <div class="category">
            {% for category in information.category %}
              <span style="background-color: #1B2838 !important;" class="badge badge-primary mr-2">{{ category.name }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer">

          <button id="button-comments-{{ ressourceId }}" class="btn btn-primary comments-link"><i class="far fa-comment"></i> Comment</button>

          <div id="block-comments-{{ ressourceId }}" style="display: none; color:#FFF;">
            <div class="d-flex justify-content-between">
              <input type="text" class="form-control block-comments-fav" id="textarea-comments-{{ ressourceId }}" placeholder="Tapez votre commentaire..."/>
            </div>
            <div class="commentaires">
              <div class="commentaire" id="list-comments-{{ ressourceId }}">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
          <div class="d-flex">
          <a class="btn btn-indigo" href="{{ path('informations_index') }}">Retour</a><br/>
          <a class="btn btn-deep-orange" href="{{ path('informations_edit', {'id': information.id}) }}">Modifier</a>
          {{ include('informations/_delete_form.html.twig') }}
          </div>

    <script>
      let buttonComment = document.querySelector('.comments-link');
      let blockCommentFav = document.querySelector('.block-comments-fav');




      buttonComment.addEventListener('click', function(e){
        console.log("click")
        let idRessource = this.id.split('-');
        id = parseInt(idRessource[2]);
        getRessourceComment(id);
      })

      blockCommentFav.addEventListener('keypress', function(e){
        let idRessource = this.id.split('-');
        id = parseInt(idRessource[2]);
        sendComments(e, id);
      })

      function getRessourceComment(id) {
        // Recup ID Ressource
        let idRessource = id;

        //Recup bloc ressources
        let blocCommentOfRessource = document.querySelector('#block-comments-' + id);



        // Recup bloc contains list of comments

        let listCommentsOfCurrentRessource = document.querySelector('#list-comments-' + id);

        if (blocCommentOfRessource.style.display === "block") {
          blocCommentOfRessource.style.display = "none";
        } else {
          blocCommentOfRessource.style.display = "block";
        }

        const requestParams = {
          "idRessource": idRessource
        }
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ path('get_comments') }}', true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onreadystatechange = function () { //Appelle une fonction au changement d'état.
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {

            let data = xhr.response;

            loadData(data, listCommentsOfCurrentRessource);
          }
        }
        xhr.responseType = 'json';
        xhr.send(JSON.stringify(requestParams));
      }
      function sendComments(event, id){


        let inputComments = document.querySelector('#textarea-comments-'+id);
        let listCommentsOfCurrentRessource = document.querySelector('#list-comments-'+id);

        const requestParamsAddComments = {
          "idRessource" : id,
          "comments": inputComments.value
        }

        const xhr = new XMLHttpRequest();

        if(event.key === "Enter"){

          xhr.open('POST', '{{ path('new_comments') }}', true);
          xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
          xhr.onreadystatechange = function() { //Appelle une fonction au changement d'état.
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
              inputComments.value = "";
              listCommentsOfCurrentRessource.innerHTML = '';
              let data = xhr.response;
              loadData(data, listCommentsOfCurrentRessource);
            }
          }
          xhr.responseType = 'json';
          xhr.send(JSON.stringify(requestParamsAddComments));

        }

      }
      function loadData(data, commentsBox){
        commentsBox.innerHTML = "";
        for (let i = 0; i < data.length; i++) {
          let eachComment = document.createElement("div");
          let date = new Date(data[i].date.date)
          date = date.toISOString().replace(/T/, ' ').replace(/\..+/, '');
          eachComment.setAttribute('class', 'd-flex')
          eachComment.innerHTML = ` <div class="mr-2" style="height: 100%; vertical-align: middle;">
                                            <img class="rounded-circle" width="25" src="/images/vichFiles/${data[i].user.avatar}" alt="">
                                        </div>
                                        <div class="text-commentaire d-flex flex-column justify-content-between" style="width: 100%;">
                                            <div class="ml-2 d-flex">
                                                <div class="h5 m-0">${data[i].user.firstName} ${data[i].user.lastName} </div>
                                                <div id="Created" class="text-muted h7" style="margin: 5px;"><i class="far fa-clock mr-1"></i>${date}</div>
                                            </div>
                                            <div style="width: 100%; vertical-align: middle;">
                                                <p>${data[i].contenu}</p>
                                            </div>
                                        </div>
          `;
          commentsBox.appendChild(eachComment);
        }
      }
    </script>
  {% block javascript %}{% endblock %}
  {% else %}
    <script>window.location.href = "{{path('news_feed')}}" </script>
  {% endif %}
{% endblock %}
