{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    <h1>Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if information.updatedAt != null %}
                    {{ information.updatedAt|date('d-m-Y')  }}
                {% else %}
                    {{ information.createdAt|date('d-m-Y')  }}
                {% endif %}</td>
            </tr>
            <tr>
                <th>Publié</th>
                <td>{{ information.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ information.slug }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ information.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ information.description }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ information.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn mb-2 btn-primary" href="{{ path('informations_index') }}">Retour</a>

    <a class="btn mb-2 btn-primary" href="{{ path('informations_edit', {'id': information.id}) }}">Modifier</a>

    {{ include('informations/_delete_form.html.twig') }}
{% endblock %}
