{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}


 
    <!--Section: Content-->
    <section class="px-md-5 my-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold"> Titre de l'info : {{ information.titre}}</h3>

          <p class="font-weight-bold">Crée le {% if information.updatedAt != null %}
                    {{ information.updatedAt|date('d-m-Y')  }}
                {% else %}
                    {{ information.createdAt|date('d-m-Y')  }}
                {% endif %}</p>

          <p>Son contenu : {{ information.contenu }}</p>
          <div class="d-flex">
          <a class="btn btn-indigo" href="{{ path('informations_index') }}">Retour</a><br/>
          <a class="btn btn-deep-orange" href="{{ path('informations_edit', {'id': information.id}) }}">Modifier</a>
          {{ include('informations/_delete_form.html.twig') }}
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
{% endblock %}
